.course-card-container {
  &__title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: black;
  }
  &__date {
    margin-top: 14px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
}
